@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #3490dc; /* Blue */
    --secondary-color: #ffed4a; /* Yellow */
    --background-color: #EDF2F4; /* Light Gray */
    --text-color: #333; /* Dark Text */

    --rich-black: #000814;
    --oxford-blue: #001D3D;
    --yale-blue: #003566;
    --mikado-yellow: #FFC300;
    --gold: #FFD60A;

    --ge-logo-black: #0a0203; /* LOGO COLOR BLACK */
    --ge-logo-yellow: #f5bf03; /*LOGO COLOR YELLOW*/

    --primary-logo-font: 'VANGUARD'; /*Font LOGO PRIMARY*/
    --secondary-logo-font: 'MUSEUM '; /*Font LOGO Secondary Font */

    --primary-font: 'Roboto', sans-serif; /* Main Font */
    --secondary-font: 'Poppins', sans-serif; /* Sub Font */
}
.bg-color{
    /* background-color: var(--background-color); */
    background-color: var(--oxford-blue);
}
.header{
    background-color: var(--mikado-yellow);
}