@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    list-style: none !important;
    text-decoration: none !important;
}

:root{
    --primary-color: #3490dc; /* Blue */
    --secondary-color: #ffed4a; /* Yellow */
    --background-color: #EDF2F4; /* Light Gray */
    --text-color: #333; /* Dark Text */

    --rich-black: #000814;
    --oxford-blue: #001D3D;
    --yale-blue: #003566;
    --mikado-yellow: #FFC300;
    --gold: #FFD60A;

    --ge-logo-black: #0a0203; /* LOGO COLOR BLACK */
    --ge-logo-yellow: #f5bf03; /*LOGO COLOR YELLOW*/

    --primary-logo-font: 'VANGUARD'; /*Font LOGO PRIMARY*/
    --secondary-logo-font: 'MUSEUM '; /*Font LOGO Secondary Font */

    --primary-font: 'Roboto', sans-serif; /* Main Font */
    --secondary-font: 'Poppins', sans-serif; /* Sub Font */
}
.bg-color{
    /* background-color: var(--background-color); */
    background-color: var(--background-color);
}
/* HEADER */
.header{
    background-color: var(--mikado-yellow);
}
/* END HEADER */

.primary-font{
    font-family: var(--primary-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}

.prod{
    color: var(--mikado-yellow);
}

.footer{
    background-color: var(--mikado-yellow);
}
/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-icon {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: black;
}
/* NAVBAR STYLE ON SHORT SCREEN SIZE */
.navbar.mobile{
    /* position: absolute; */
    top: 80px; /* Adjust this to control the distance below the Switch 120 */
    right: 25px !important; /*45*/
    background-color: var(--rich-black);
    border-radius: 5px;
    width: 150px;
    opacity: 0; /* Initially hidden */
    visibility: hidden;
    /* pointer-events: none; Prevents interaction when hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease;  /* Smooth transition */
}
/* When the navbar is active (for example, when it should be shown) */
.navbar.mobile.active {
    opacity: 1; /* Fully visible */
    pointer-events: auto;  /*Allows interaction*/
    visibility: visible;
}
/* Add this in your custom CSS file */
.animate__pulse {
    animation-duration: 2s !important; /* Adjust to your desired duration */
}
.animate__tada{
    animation-duration: 4s !important; /* Adjust to your desired duration */
}
.animate__bounce{
    animation-duration: 4s !important; /* Adjust to your desired duration */
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        right: 0;
        background: white;
        width: 100%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar.show {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}
/* NAVBAR END */


/* CONTACT */
.custom-hover:hover{
    border-color: var(--mikado-yellow) !important; /* Bootstrap warning color */
    background-color: var(--mikado-yellow) !important;
    color: var(--rich-black) !important; /* Adjust text color if needed */
}

.w-3-5 {
    width: 65% !important; /* 3/5 - 60% of the width */
}
.mwGold{
    width: 500px !important;
    height: auto !important;
}

@media (max-width: 1022px) {
    .w-3-5 {
        width: 100% !important; /* Full width on small screens */
    }
    .mwGold{
        width: 350px !important;
        height: auto !important;
    }
}

/* END CONTACT */

/* FOOTER */
.list-unstyled, li, a{
    color: #333 !important;
}
@media (max-width: 1022px) {
    .footerLinks{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    .footerLinksDivOne{
        width: auto !important;
        text-align: center !important;
    }
    .footerLinksDivTwo{
        width: 100% !important;
        text-align: center !important;
    }
}
@media (max-width: 500px) {
    .footerLinksDivTwo{
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        /* background-color: #3490dc; */
    }
}
/* END-FOOTER */