@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #3490dc; /* Blue */
    --secondary-color: #ffed4a; /* Yellow */
    --background-color: #EDF2F4; /* Light Gray */
    --text-color: #333; /* Dark Text */

    --rich-black: #000814;
    --oxford-blue: #001D3D;
    --yale-blue: #003566;
    --mikado-yellow: #FFC300;
    --gold: #FFD60A;

    --ge-logo-black: #0a0203; /* LOGO COLOR BLACK */
    --ge-logo-yellow: #f5bf03; /*LOGO COLOR YELLOW*/

    --primary-logo-font: 'VANGUARD'; /*Font LOGO PRIMARY*/
    --secondary-logo-font: 'MUSEUM '; /*Font LOGO Secondary Font */

    --primary-font: 'Roboto', sans-serif; /* Main Font */
    --secondary-font: 'Poppins', sans-serif; /* Sub Font */
}
.bg-color{
    /* background-color: var(--background-color); */
    background-color: var(--oxford-blue);
}
.header{
    background-color: var(--mikado-yellow);
}
.primary-font{
    font-family: var(--primary-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}


/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-icon {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: black;
}
/* NAVBAR STYLE ON SHORT SCREEN SIZE */
.navbar.mobile{
    position: absolute;
    top: 120px; /* Adjust this to control the distance below the Switch 120 */
    right: 45px !important; /*45*/
    border: 1px solid green;
    background-color: var(--rich-black);
    border-radius: 5px;
    width: 150px;
    z-index: 10; /* Ensure it's above other content when visible */
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        right: 0;
        background: white;
        width: 100%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar.show {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}
/* NAVBAR END */