@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    list-style: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}
/* Vanguard Font */
@font-face {
    font-family: 'Vanguard';
    src: url('../fonts/Vanguard-CF/Demo_Fonts/Fontspring-DEMO-vanguardcf-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vanguard';
    src: url('../fonts/Vanguard-CF/Demo_Fonts/Fontspring-DEMO-vanguardcf-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Museum Font */
@font-face {
    font-family: 'Museum';
    src: url('../fonts/lt_museum/LTMuseum-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museum';
    src: url('../fonts/lt_museum/LTMuseum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museum-Inline';
    src: url('../fonts/lt_museum/LTMuseum-Inline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary-color: #3490dc; /* Blue */
    --secondary-color: #ffed4a; /* Yellow */
    --background-color: #EDF2F4; /* Light Gray */
    --text-color: #333; /* Dark Text */

    --rich-black: #000814;
    --oxford-blue: #001D3D;
    --yale-blue: #003566;
    --mikado-yellow: #FFC300;
    --gold: #FFD60A;

    --ge-logo-black: #0a0203; /* LOGO COLOR BLACK */
    --ge-logo-yellow: #f5bf03; /*LOGO COLOR YELLOW*/

    --primary-logo-font: 'Vanguard', sans-serif;
    --secondary-logo-font: 'Museum', sans-serif;
    --museum-inline-font: 'Museum-Inline', sans-serif;
}
.primary-font{
    font-family: var(--primary-logo-font) !important;
}
.secondary-font{
    font-family: var(--secondary-logo-font) !important;
}
.museum-inline {
    font-family: var(--museum-inline-font) !important;
}


.bg-color{
    /* background-color: var(--background-color); */
    background-color: var(--background-color);
}
/* HEADER */
.header{
    background-color: var(--ge-logo-black);
}
.header-container-nav{
    background-color: var(--ge-logo-black);
}
/* .text-container{
    position: 'absolute';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
} */
.text-heading{
    color: var(--ge-logo-yellow);
}

@media (min-width: 992px) { /* When screen size is large or larger (lg) */
    .text-heading {
        color: #ffffff; /* Change to text-white on lg screens */
    }
    .text-heading h1{
        font-size: 50px;
    }
    .text-heading p{
        font-size: 24px;
    }
}
/* END HEADER */

.primary-font{
    font-family: var(--primary-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}

.prod{
    color: var(--mikado-yellow);
}

.footer{
    background-color: var(--mikado-yellow);
}
/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}
/* Add this to your CSS or within a <style> tag in the component */
.navbar .active {
    border-bottom: 2px solid var(--mikado-yellow); /* Blue underline for active link */
    padding-bottom: 5px; /* Optional: space between text and the underline */
    transition: border-bottom 0.5s ease, padding-bottom 0.5s ease !important; /* Smooth transition for active link underline */
}
.navbar .navbarLinks {
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}
.navbar .navbarLinks:hover{
    color: var(--mikado-yellow) !important;
}

.navbar-icon {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: black;
}
/* NAVBAR STYLE ON SHORT SCREEN SIZE */
.navbar.mobile{
    /* position: absolute; */
    top: 80px; /* Adjust this to control the distance below the Switch 120 */
    /* right: 45px !important; 45 */
    background-color: var(--rich-black);
    border-radius: 5px;
    width: 150px;
    opacity: 0; /* Initially hidden */
    visibility: hidden;
    /* pointer-events: none; Prevents interaction when hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease;  /* Smooth transition */
}
/* When the navbar is active (for example, when it should be shown) */
.navbar.mobile.active {
    opacity: 1; /* Fully visible */
    pointer-events: auto;  /*Allows interaction*/
    visibility: visible;
}
/* Add this in your custom CSS file */
.animate__pulse {
    animation-duration: 2s !important; /* Adjust to your desired duration */
}
.animate__tada{
    animation-duration: 4s !important; /* Adjust to your desired duration */
}
.animate__bounce{
    animation-duration: 4s !important; /* Adjust to your desired duration */
}

/* NAVBAR END */

/* HOME */
.ge-wet-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ge-wet-background {
  /* Initially, show background image only on small screens */
  /* background-image: url('/imgs/WETGE.png') !important; */
  background-size: cover;
  background-position: center;
  display: block;  /* Show background div */
  filter: blur(5px);
  width: 100%;
  height: 100%;
}

/* Medium tablets, portrait mode, and tablets in landscape mode (up to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for medium tablets */
    .ge-wet-image {
        filter: blur(5px);
    }
}
/* Hide the background image on larger screens and show the image */
@media (min-width: 768px) {
    .ge-wet-background {
      display: none;  /* Hide the background image on larger screens */
    }
  
    .ge-wet-image {
      display: block;  /* Show the image on larger screens */
    }
  }
  
  /* Optional: Hide the image on smaller screens */
  @media (max-width: 767px) {
    .ge-wet-image {
      display: none;  /* Hide the image on small screens */
    }
  }

.sectionThree{
    height: fit-content;
}
@media (max-width: 768px) {
    .sectionThree{
        display: flex;
        /* background-color: red !important; */
        height: fit-content !important;
        position: relative !important;
        flex-direction: column;
    }
}

  /* In GEHOMEBLACK AND WHITE*/
.GEBW-container{
    position: relative;
    width: 60%;
}
/* Adjust styles for smaller screens tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .GEBW-container {
        width: 100%;  /* Set to 100% width on smaller screens */
    }
}
@media (max-width: 768px) {
    .GEBW-container {
        width: 100%;  /* Set to 100% width on smaller screens */
    }
}

.cover-image-container {
    position: relative;
    width: 100%; /* Or any fixed size you want */
    height: 100%; /* Adjust as needed */
    /* overflow: hidden; Ensures the image doesn't overflow out of bounds */
  }
  
  .cover-image-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 50% 60%;     */
    /* padding: 3%; */
  }
  
/* HOME END */

/* CONTACT */
.custom-hover:hover{
    border-color: var(--mikado-yellow) !important; /* Bootstrap warning color */
    background-color: var(--mikado-yellow) !important;
    color: var(--rich-black) !important; /* Adjust text color if needed */
}

.w-3-5 {
    width: 65% !important; /* 3/5 - 60% of the width */
}
.mwGold{
    width: 500px !important;
    height: auto !important;
}

.contactIcon{
    background-color: var(--mikado-yellow);
    border-radius: 8px;
}

/* Custom styles for form inputs */
.form-control:focus {
    border-color: var(--mikado-yellow) !important; /* Change focus border color */
    box-shadow: 0 0 0 0.50rem rgba(255, 204, 0, 0.25) !important; /* Change focus shadow */
}

.valid-feedback {
    color: var(--ge-logo-yellow) !important; /* Change valid feedback text color */
}
.form-control:valid{
    color: var(--ge-logo-black) !important;
    border-color: var(--ge-logo-yellow) !important;
}


@media (max-width: 1022px) {
    .w-3-5 {
        width: 100% !important; /* Full width on small screens */
    }
    .mwGold{
        width: 350px !important;
        height: auto !important;
    }
}

/* END CONTACT */

/* FOR ABOUT */
.image-container{
    width: 100%;
}
.text-primary a{
    color: var(--mikado-yellow) !important;
}
/* END FOR ABOUT */

/* FOR PRODUCT */
/* Default image size for smaller screens */
.prod-img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
  }
  
  /* Larger screen (e.g., greater than 1200px) */
  
/* END PRODUCT */

/* FOOTER */
.list-unstyled, li, a{
    color: #333 !important;
}
@media (max-width: 1022px) {
    .footerLinks{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    .footerLinksDivOne{
        width: auto !important;
        text-align: center !important;
    }
    .footerLinksDivTwo{
        width: 100% !important;
        text-align: center !important;
    }
}
@media (max-width: 500px) {
    .footerLinksDivTwo{
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        /* background-color: #3490dc; */
    }
}
/* END-FOOTER */


/* FOR PAGE LOADER */
.pageLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); /* Optional background overlay */
    z-index: 9999; /* Keeps loader on top */

    opacity: 1; /* Set to 1 initially to make it visible */
    transition: opacity 0.5s ease; /* Smooth fade-out transition */
}
.animate__flash{
    animation-duration: 2s !important;
}
.loader-image {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
/* END PAGE LOADER */